<div data-sly-use.fragment="com.adobe.cq.wcm.core.components.models.ExperienceFragment"
     data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test=${fragment.configured}
     data-sly-set.selector="content.${request.requestPathInfo.selectorString}"
     data-sly-resource="${@path=fragment.localizedFragmentVariationPath, selectors=selector, wcmmode='disabled'}"
     id="${component.id}"
     class="cmp-experiencefragment cmp-experiencefragment--${fragment.name} ${wcmmode.edit ? 'exp-edit' : ''}">
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!fragment.configured, classAppend='cmp-dd-experiencefragment'}"></sly>