/*-------------------------------------------------*\
   General style sheet for the Teaser Component
   
   Table of Contents
   If you conduct a Search on the page, type in the 
   section below that you would like to jump to.

   - Disable Teaser Horziontal Line
   - Enable Teaser Horziontal Line
   - Image with Text
   
\*-------------------------------------------------*/
/*-------------------------------------------*\
    Disable Teaser Horziontal Line
\*-------------------------------------------*/
.teaser {
    .cmp-teaser {
        .cmp-teaser__content {
            .teaser-horz-line {
                display: none;
            }
        }
    }
}

/*-------------------------------------------*\
    Enable Teaser Horziontal Line
\*-------------------------------------------*/
.teaser {
    &.enable-hr-line {
        .cmp-teaser {
            .cmp-teaser__content {
                .teaser-horz-line {
                    display: block;
                    margin: 30px 0;
                    background-color: $color-light-gray;
                }
            }
        }
    }

}

/*-------------------------------------------*\
          Image with Text
\*-------------------------------------------*/
.teaser {
    &.image-with-text {
        .cmp-teaser {
            position: relative;
            display: block;
            width: 100%;
            overflow: hidden;

            .cmp-teaser__content {
                &:not(:only-child) {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    min-height: auto;
                    min-width: auto;
                }

                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 0 0 0 43px;

                .cmp-teaser__title {
                    padding-bottom: 31px;
                    text-decoration: none;
                    font-size: $font-size-38;
                    font-weight: $font-weight-300;
                    font-style: $font-weight-normal;
                    color: $color-white;
                    letter-spacing: $letter-spacing-02;
                    font-family: $font-family-Bekaert-heading-regular;
                }
            }

            .button {
                &.no-btn {

                    .arrow-left,
                    .arrow-right {
                        top: -14px;
                    }

                    .arrow-left {
                        left: -5px;
                    }

                    .cmp-button__text {
                        margin: 0 25px 0 0;
                    }
                }
            }
        }
    }
}