/*-------------------------------------------------*\
   General style sheet for the Footer Component
   
   Table of Contents
   If you conduct a Search on the page, type in the 
   section below that you would like to jump to.

   - Apps icon and logo
   - Footer Links 
   - Blue copyright div bottom
  
   
\*-------------------------------------------------*/


.container-footer {
  font-family: $font-family;

  .row {
/*-------------------------------------------*\
Apps icon and logo
\*-------------------------------------------*/    
    .footer-bekaert-icon {
      .footer-media-links {
        .svg-middle-line {
          margin: 0 30px;
        }
      }
    }
/*-------------------------------------------*\
Footer Links 
\*-------------------------------------------*/
    .footer-links {
      .comp_footerLinks {
        .comp_footerLinks-list {
          .comp_footerLinks-list-item {
            width: 29%;

            a {
              font-weight: $font-weight-400;
              font-size: $font-size-16;
              line-height: $line-height-18;
              color: $color-dark-blue;
            }
          }
        }
      }
    }
  }
}

/*-------------------------------------------*\
Blue copyright div bottom
\*-------------------------------------------*/

.copyright-div {
  background: $color-dark-blue;

  .copyright-text {
    color: $color-white;
    font-family: $font-family;
    font-weight: $font-weight-400;
    font-size: $font-size-16;
    line-height: $line-height-18;

    .middle-copyright-line {
      fill: $color-white;
    }

    a {
      color: $color-white;
    }
  }
}

@media only screen and (max-width: 600px) {
  .copyright-div {
    .copyright-text {
      font-size: $font-size-12;
    }
  }
}