<section class="Homepage ${wcmmode.edit ? 'homepageedit' : ''}">
  <div class="container-fluid cmp-header g-0">
	
	<header class="bg-transparent cmp-header-var-trans">		
		<nav
        class="navbar navbar-expand-lg navbar-light cmp-transparent cmp-primary-menu-bar pt-0 pb-0 d-none d-sm-block d-md-block"
        id="cmp-bg-change"
      >
        <div class="container-fluid col-md-12 col-lg-12 col-xl-12 col-xxl-12 cmp-header-padding">
          <div class="me-auto mb-2 mb-lg-0">            
            <div class="cmp-language-navigation">              
              <ul class="list-group-item cmp-language-list">
                <li class="list-group-item cmp-language-order"><span class="cmp-language-selected">English ( US )</span>  
                  <ul class="list-group cmp-language-list-menu">
                    <li class="cmp-langauage-list-val"><a class="list-group-item" href="#">English ( US )</a></li>
                    <li class="cmp-langauage-list-val"><a class="list-group-item" href="#">English ( CA )</a></li>
                    <li class="cmp-langauage-list-val"><a class="list-group-item" href="#">Spanish ( MX )</a></li>
                  </ul>     
                </li>                        
              </ul>
            </div>
          </div>
          <div class="flex-shrink-1 d-flex cmp-top-header-right">
            <button type="button" class="cmp-top-bar-btn d-inline-flex">
              <div class="mb-icon">
                <img
                  src="/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/Softwatetools.svg"
                  alt="${'softwaretools' @ i18n}"
                />
              </div>
              <a href="#" class="cmp-top-bar-tools">Software tools</a>
            </button>
            <button type="button" class="cmp-top-bar-btn d-inline-flex">
              <div class="mb-icon">
                <img
                  src="/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/upcomingevents.svg"
                  alt="${'upcomingevents' @ i18n}"
                />
              </div>
              <a href="#" class="cmp-top-bar-events">Upcoming Events</a>
            </button>
          </div>
        </div>
      </nav>
      <nav
        class="navbar navbar-expand-sm sticky-top cmp-secondary-menu-bar"
        aria-label="Third navbar offcanvas example"
        id="cmp-bg-navbar"
      >
        <div class="container-fluid col-md-12 col-lg-12 col-xl-12 col-xxl-12 cmp-header-padding">
          <!-- Email, logo, close-button and mobile menu start-->
          <a class="d-sm-none d-md-none d-lg-none d-xl-none d-xxl-none cmp-top-bar-email" href="#"><img
            src="/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/mbmail.svg"
            alt="${'email' @ i18n}"
          /></a>

          <a class="d-sm-none d-md-none d-lg-none d-xl-none d-xxl-none cmp-top-bar-btn-scroll" href="#"><img
            src="/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/mbemailsticky.svg"
            alt="${'email' @ i18n}"
          /></a>

          <a class="navbar-brand logo-wrapper" href="#">
            <img
              src="/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/logo.png"
              alt="${'logo' @ i18n}"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbarLight"
            aria-controls="offcanvasNavbarLight"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="offcanvas offcanvas-top"
            tabindex="-1"
            id="offcanvasNavbarLight"
            aria-labelledby="offcanvasNavbarLightLabel"
          >
            <div class="offcanvas-header">
              <form class="search">
                <span class="input-group-addon">
                  <img src="/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/mbsearch.svg" alt="${'search' @ i18n}" />
                </span>
                <input
                  class="form-control search-bar"
                  type="search"                 
                  aria-label="Search"
                />
              </form>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <!-- logo, close-button and mobile menu End-->

            <!-- main nav bar -->
            <div class="offcanvas-body" id="offcanvasNavbarLight">
              <ul class="navbar-nav me-auto mb-2 mb-sm-0 cmp-navbar">
                <li class="nav-item">
                  <a href="#" class="nav-link" aria-current="page">Projects</a>
                </li>
                <li class="nav-item dropdown dropdown-hover dropdown-hover-menu position-static">                  
				          <a
                    class="nav-link dropdown-hover-icon"
                    href="#"                       
                    >Toolbox</a>					
                  <!-- Dropdown mega menu -->
                  <div
                    class="dropdown-menu w-100"
                    id="dropdownid"
                    aria-labelledby="navbarDropdown"
                    >
                    <div class="container-fluid mega_menu_wrapper">
                      <div class="row mt-md-5 mb-0">
                        <div class="col-xs-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
                          <div class="cmp-sub-description">
                            All the information is available in our toolbox
                          </div>
                        </div>
                        <div
                          class="col-xs-12 col-md-6 col-lg-9 mb-3 mb-lg-0 inner-mg-menu-wrapper"
                        >

                        <div class="row">

                          <div class="col-md-4 col-lg-4">

                          <ul
                            class="list-group list-group-flush mega-menu-wrapper ms-md-5"
                          >                        

                            <li class="software-tab">
                              <a  class="list-group-item submenu-link" href="#">Softwares</a>                            
                            </li>
                            <li class="software-tab">
                              <a class="list-group-item submenu-link" href="#">Certificates</a>                           
                            </li>
                            <li class="software-tab">
                              <a  class="list-group-item submenu-link" href="#">Expert Talks</a>                            
                            </li>
                            <li class="software-tab">
                              <a  class="list-group-item submenu-link" href="#">Whitepapers</a>                            
                            </li>
                            <li class="software-tab">
                              <a  class="list-group-item submenu-link" href="#">Product datasheets</a>                            
                            </li>
                          </ul>

                          </div>

                          <div class="col-md-6 col-lg-8">
                            <div class="cmp-megamenu-image d-none d-md-block d-sm-block d-lg-block d-xl-block d-xxl-block w-100 h-auto">
                                <img src="/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/toolbox.png" alt="${'toolbox' @ i18n}" class=" img-fluid h-auto w-100">    
                            </div>
                          </div>

                          </div>

                        </div>
                        
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Sustainability</a>
                </li>
                <li class="nav-item dropdown dropdown-hover dropdown-hover-menu  position-static">
                  <a
                    class="nav-link dropdown-hover-icon"
                    href="#"                  
                    >Solutions</a>
                  <!-- Dropdown mega menu -->
                  <div
                    class="dropdown-menu w-100"
                    id="dropdownid"
                    aria-labelledby="navbarDropdown"
                    >
                    <div class="container-fluid mega_menu_wrapper">
                      <div class="row mt-5 mb-0">
                        <div class="col-xs-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
                          <div class="cmp-sub-description ">
                            All the information is available in our toolbox
                          </div>
                        </div>
                        <div
                          class="col-xs-12 col-md-6 col-lg-9 mb-3 mb-lg-0 inner-mg-menu-wrapper"
                        >

                          <div class="row">

                            <div class="col-md-4 col-lg-4">                         
                              
                              <ul
                              class="list-group list-group-flush mega-menu-wrapper cmp-list-group-solution-subnav ms-md-5"
                               >                        

                                  <li class="software-tab">
                                    <a  class="list-group-item submenu-link" href="#" >Products</a>                            
                                  </li>
                                  <li class="software-tab">
                                    <a class="list-group-item submenu-link" href="#" >Applications</a>                           
                                  </li>
                                  <li class="software-tab">
                                    <a  class="list-group-item submenu-link" href="#" >Technology</a>                            
                                  </li>                            
                                </ul>
                              
                            </div>
                            <div class="col-md-6 col-lg-8">

                              <div class="cmp-megamenu-image d-none d-md-block d-sm-block d-lg-block d-xl-block d-xxl-block w-100 h-auto">
  
                                  <img src="/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/submenusolution.svg" alt="${'submenusolution' @ i18n}" class="h-auto img-fluid w-100">
      
                              </div>
                            </div>
                          </div>                       
                          </div>
                        </div>                       
                  </div>
                  </div>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Contact</a>
                </li>
              </ul>
              <!-- main nav end -->

              <!-- right side nav -->
              <!-- full width search section -->
              <div class="cmp-search-section-wrapper bg-white" id="searchSection">
                <div class="container">
                  <div class="row my-4">
                    <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
                      <div class="cmp-search-title">Search for products, videos or projects</div>
                    </div>
                    <div class="col-md-6 col-lg-6 mb-3 mb-lg-0">
                      <form
                        class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 search"
                        role="search"
                        id="searchwrap">                    
                     
                        <input
                          class="form-control search-bar"
                          type="search"
                          placeholder="Search"
                          aria-label="Search"
                        />
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cmp-right-nav-wrapper">
                <button
                  type="button"
                  class="btn cmp-top-bar-btn cmp-search-icon cmp-sticky-header-hide"
                  id="search-btn"
                >
                   <img
                    src="/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/Search.svg"
                    alt="${'search' @ i18n}"
                  /> 				  
                </button>
				        <button
                  type="button"
                  class="btn cmp-top-bar-btn-hover cmp-search-icon cmp-sticky-header-show"
                  id="search-btn"
                >
                   <img
                    src="/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/Search-hover.svg"
                    alt="${'search' @ i18n}"
                  /> 				  
                </button>
                
                <!-- menu only visible in mobile -->
                <button type="button" class="cmp-top-bar-btn xtra-mb-menu">
                  <img
                    src="/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/mbdocument.svg"
                    alt="${'document' @ i18n}"
                  />
                  <a href="#">Downloads</a>
                </button>
                <button type="button" class="cmp-top-bar-btn xtra-mb-menu">
                  <div class="mb-icon">
                    <img
                      src="/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/mbsoftware.svg"
                      alt="${'mbsoftwaretools' @ i18n}"
                    />
                  </div>
                  <a href="#">Software Tools</a>
                </button>
                <button type="button" class="cmp-top-bar-btn xtra-mb-menu">
                  <div class="mb-icon">
                    <img
                      src="/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/mbupcoming.svg"
                      alt="${'upcomingevents' @ i18n}"
                    />
                  </div>
                  <a href="#">Upcoming Events</a>
                </button>
                <!-- menu only visible in mobile end-->

                <button
                  type="button"
                  class="cmp-top-bar-btn cmp-file-box cmp-sticky-header-hide"
                  id="file-box"
                >
                  <img
                    src="/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/folder.svg"
                    alt="${'filedocument' @ i18n}"
                  />
                </button>
                <button
                  type="button"
                  class="cmp-top-bar-btn-hover cmp-file-box cmp-sticky-header-show"
                  id="file-box"
                >
                  <img
                    src="/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/folder-hover.svg"
                    alt="${'filedocument' @ i18n}"
                  />
                </button>
                <!-- menu only visible in mobile-->
                <div class="abt-faq">
                  <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">FAQ</a></li>
                  </ul>
                </div>
                <!-- menu only visible in mobile end-->

                <!-- language switcher mobile only start -->
                 
                <!-- language switcher mobile only end -->

                <!-- menu only visible in mobile-->
                  <div class="cmp-bottom-bar"></div>
                <!-- menu only visible in mobile end-->

                <div class="cmp-button-wrapper">
                  <a href="#" class="btn me-0 quote-btn">
                    Request a Quote
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

  </div>
  <sly
  data-sly-resource="${'banner' @ resourceType='dramix/components/banner-home'}"
></sly>
</section>

