<div class="cmp-columncontrol container my-3" data-sly-use.colcontrol="com.adobe.dramix.core.models.ColumnControl" data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
	<div class="row">
		<div class="col-md-${colcontrol.columnCount} col-sm-12" data-sly-repeat="${colcontrol.list}">
			<div class="column-inner">
				<div data-sly-resource ="${itemList.count @ resourceType='core/wcm/components/container/v1/container'}"></div>
			</div>
		</div>
	</div>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty = !colcontrol.list}"></sly>