<sly
	data-sly-use.template="core/wcm/components/commons/v1/templates.html"
	data-sly-use.navigation="com.adobe.cq.wcm.core.components.models.Navigation"
	data-sly-test.hasContent="${navigation.items.size > 0}">

<ul class="navbar-nav me-auto mb-2 mb-sm-0 cmp-navbar" data-sly-list=${navigation.items}>
	<li class="nav-item"><a href="${item.URL}" class="nav-link"
		data-sly-test.hasNoChildren="${item.children.size==0}"
		data-sly-attribute="${item.link.htmlAttributes}"
		aria-current="${item.current && 'page'}">${item.title}</a></li>
	
	<li class="nav-item dropdown dropdown-hover position-static"
	    data-sly-test="${!hasNoChildren}">                  
		<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">${item.title}</a>					
			<div class="dropdown-menu w-100 mt-0" id="dropdownid" aria-labelledby="navbarDropdown">
                    <div class="container mega_menu_wrapper">
                      <div class="row my-4">
                        <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
                          <div class="cmp-sub-description">
                            All the information is available in our toolbox
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-3 mb-lg-0 inner-mg-menu-wrapper">
                          <div class="list-group list-group-flush mega-menu-wrapper" data-sly-test="${item.children.size > 0}" data-sly-list="${item.children}">
						  <div class="software-tab">
							<a href="${item.URL}" id="control-selected" class="list-group-item list-group-item-action submenu-link ${itemList.first ? 'tab-control' : ''}">${item.title}</a>
							<img
							  src="/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/Right.png"
							  id="software"
							  class="tab"
							  alt="${'right' @ i18n}"
							/>
						  </div>				  

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
</ul>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>