<sly
	data-sly-use.template="core/wcm/components/commons/v1/templates.html"
	data-sly-use.navigation="com.adobe.dramix.core.models.DramixNavigation"
	data-sly-test.hasContent="${navigation.navItems.size > 0}">

	<ul class="navbar-nav me-auto mb-2 mb-sm-0 cmp-navbar" data-sly-list=${navigation.navItems}>
		<li class="nav-item" data-sly-test.hasNoChildren="${item.children.size==0}">
        	<a href="${item.URL}" 
        		class="nav-link" 
		    	data-sly-attribute="${item.link.htmlAttributes}"
				aria-current="${item.current && 'page'}">${item.title}</a>
		</li>
		<li class="nav-item dropdown dropdown-hover dropdown-hover-toolbox  position-static" data-sly-test="${!hasNoChildren}">                  
			<a href="${item.addLink ? item.URL : '#'}" 
				class="nav-link dropdown-toggle" 
				data-bs-toggle="dropdown" 
				aria-expanded="false"
			    data-bs-auto-close="outside">${item.title}</a>				
                  <!--/* Dropdown mega menu */-->
				<div class="dropdown-menu w-100" id="dropdownid" aria-labelledby="navbarDropdown">
                	<div class="container-fluid mega_menu_wrapper">
                    	<div class="row mt-4 mb-0">
                        	<div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
                          		<div class="cmp-sub-description">
                            		${item.navDescription}
                          		</div>
                        	</div>
                        	<div class="col-md-6 col-lg-7 mb-3 mb-lg-0 inner-mg-menu-wrapper">
								<div class="row">
        							<div class="col-md-4 col-lg-4">
										<ul class="list-group list-group-flush mega-menu-wrapper" 
											data-sly-test="${item.children.size > 0}" 
											data-sly-list="${item.children}">                        
											<li class="software-tab">
                            					<a href="${item.URL}" class="list-group-item submenu-link">${item.title}</a>                            
                            				</li>
										</ul>
                        			</div>
									<div class="col-md-6 col-lg-6">
                        				<div class="cmp-megamenu-image">
                            				<img src="/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/toolbox.png" alt="${'toolbox' @ i18n}" class="cmp-inner-image">    
                            			</div>
                        			</div>
								</div>
							</div>
						</div>
                     </div>
                  </div>
		</li>
	</ul>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>