<div class="container cmp-product-listing-dramix">
  <div class="row filter-container">
      <div class="button no-btn-grey-filter aem-GridColumn aem-GridColumn--default--12">
          <div class="result-numbers float-start py-2">18 results</div>

          <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
              type="button" id="button-80b69e4142" class="btn cmp-button rounded-0 float-end">
              <img src="./Dark_Arrow.png" alt="Button Icon" class="cmp-button__icon arrow-left">
              <span class="cmp-button__text">All filters</span>
              <img src="./Dark_Arrow.png" alt="Button Icon" class="cmp-button__icon arrow-right">
          </button>
      </div>
      <div class="offcanvas offcanvas-end filter-offcanvas border-0 p-0" tabindex="-1" id="offcanvasRight">
          <div class="offcanvas-header filter-offcanvas-header">
              <div class="offcanvas-header-text p-4">
                  <div class="head-text-filters text-uppercase mb-4">Filters</div>
                  <div class="head-text-choose">Choose your filters</div>
              </div>
              <div class="close-filter-button position-absolute text-center" data-bs-dismiss="offcanvas"
                  aria-label="Close"><img class="filter-cross-icon m-4" src="./X.svg" alt=""></div>
          </div>
          <div class="offcanvas-body">
              <div class="row filter-accrodion-row">
                  <div class="accordion filter-accrodion" id="accordionExample">
                      <div class="accordion-item filter-accrodion-item border-0">
                          <h2 class="accordion-header filter-accrodion-header" id="headingOne">
                              <button class="accordion-button shadow-none text-uppercase" type="button"
                                  data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                  aria-controls="collapseOne">
                                  Fiber type </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                              data-bs-parent="#accordionExample">
                              <div class="accordion-body filter-accrodion-body">
                                  <ul class="filter-list list-unstyled">
                                      <li class="filter-list-items">
                                          <div class="form-check filter-form-check">
                                              <input class="form-check-input rounded-0 shadow-none" type="checkbox"
                                                  value="" id="flexCheckDefault">
                                              <label class="form-check-label" for="flexCheckDefault">
                                                  Dramix 3D
                                              </label>
                                          </div>
                                      </li>
                                      <li class="filter-list-items">
                                          <div class="form-check filter-form-check">
                                              <input class="form-check-input rounded-0 shadow-none" type="checkbox"
                                                  value="" id="flexCheckDefault2">
                                              <label class="form-check-label" for="flexCheckDefault2">
                                                  Dramix 3D
                                              </label>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="accordion-item filter-accrodion-item border-0">
                          <h2 class="accordion-header filter-accrodion-header" id="headingTwo">
                              <button class="accordion-button collapsed shadow-none text-uppercase" type="button"
                                  data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true"
                                  aria-controls="collapseTwo">
                                  material </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                              data-bs-parent="#accordionExample">
                              <div class="accordion-body filter-accrodion-body">
                                  <ul class="filter-list list-unstyled">
                                      <li class="filter-list-items">
                                          <div class="form-check filter-form-check">
                                              <input class="form-check-input shadow-none" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                              <label class="form-check-label" for="flexCheckDefault">
                                                  Dramix 3D
                                              </label>
                                          </div>
                                      </li>
                                      <li class="filter-list-items">
                                          <div class="form-check filter-form-check">
                                              <input class="form-check-input shadow-none" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                              <label class="form-check-label" for="flexCheckDefault">
                                                  Dramix 3D
                                              </label>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row filter-buttons-row position-absolute w-100">
                  <div class="col-6 p-0">
                      <div class="button white-btn-filter aem-GridColumn aem-GridColumn--default--12">
                          <button type="button" id="button-80b69e4142" class="btn cmp-button rounded-0 w-100">
                              <img src="./cross.png" alt="Button Icon" class="cmp-button__icon  arrow-left">
                              <span class="cmp-button__text ">Clear all</span>
                              <img src="./cross.png" alt="Button Icon" class="cmp-button__icon  arrow-right">

                          </button>
                      </div>
                  </div>
                  <div class="col-6 p-0">
                      <div class="button dark-blue-btn-filter aem-GridColumn aem-GridColumn--default--12">
                          <button type="button" id="button-80b69e4142" class="btn cmp-button rounded-0 w-100">
                              <img src="./tick.png" alt="Button Icon" class="cmp-button__icon  arrow-left">
                              <span class="cmp-button__text ">Filter</span>
                              <img src="./tick.png" alt="Button Icon" class="cmp-button__icon  arrow-right">
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
    <sly data-sly-use.listing="com.adobe.dramix.core.models.Listing"/>
    <sly data-sly-list.result="${listing.fetchResults}">
      <sly data-sly-test="${itemList.first}">  
      <div class="${result.cssClass}">
          <div class="row">
              <div class="col-sm-12 col-md-6"><img class="image-top-div" src="${result.imageUrl}" alt=""></div>
              <div class="col-sm-12 col-md-6">
                  <div class="cmp-teaser__content">
                      <h3 class="cmp-teaser__title">
                          ${result.title}
                      </h3>
                      <div class="cmp-teaser__description">
                          <p>${result.desc}</p>
                      </div>

                      <hr class="teaser-horz-line opacity-100">
                      <div class="button no-btn-grey">
                          <a id="button-bd16164041" class="btn cmp-button rounded-0" href="${result.destUrl}"
                              data-cmp-clickable=""
                              data-cmp-data-layer="{&quot;button-bd16164041&quot;:{&quot;@type&quot;:&quot;dramix/components/button&quot;,&quot;repo:modifyDate&quot;:&quot;2022-07-27T08:27:14Z&quot;,&quot;dc:title&quot;:&quot;Learn More&quot;,&quot;xdm:linkURL&quot;:&quot;/#&quot;}}">

                              <img src="./Dark_Arrow.png" alt="Button Icon" class="cmp-button__icon arrow-left">

                              <span class="cmp-button__text">Learn More</span>

                              <img src="./Dark_Arrow.png" alt="Button Icon" class="cmp-button__icon arrow-right">
                          </a>
                      </div>

                  </div>
              </div>
          </div>
      </div>
      </sly>
      <sly data-sly-test="${!itemList.first}">  
      <div class="${result.cssClass}">
          <div class="small-image"><img class="small-image-class" src="${result.imageUrl}" alt=""></div>
          <div class="image-description">
              <div class="cmp-teaser__content">
                  <h3 class="cmp-teaser__title">
                    ${result.title} </h3>
                  <div class="cmp-teaser__description">
                      <p>${result.desc}</p>
                  </div>

                  <hr class="teaser-horz-line opacity-100">
                  <div class="button no-btn-grey">
                      <a id="button-bd16164041" class="btn cmp-button rounded-0" href="${result.destUrl}" data-cmp-clickable=""
                          data-cmp-data-layer="{&quot;button-bd16164041&quot;:{&quot;@type&quot;:&quot;dramix/components/button&quot;,&quot;repo:modifyDate&quot;:&quot;2022-07-27T08:27:14Z&quot;,&quot;dc:title&quot;:&quot;Learn More&quot;,&quot;xdm:linkURL&quot;:&quot;/#&quot;}}">

                          <img src="./Dark_Arrow.png" alt="Button Icon" class="cmp-button__icon arrow-left">

                          <span class="cmp-button__text">Learn More</span>

                          <img src="./Dark_Arrow.png" alt="Button Icon" class="cmp-button__icon arrow-right">
                      </a>
                  </div>

              </div>
          </div>
      </div>
      </sly>
     </sly>
  </div>
</div>