<div class="List-catecory">

<ul class="list"
	data-sly-use.banner="com.adobe.dramix.core.models.Banner"
    data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-list="${banner.bannerDetails}">
	<li class="List${itemList.count} parent ${itemList.first ? 'active' : '' } cmp-list-banner">		
				<div class="title">
					<h1 class="${!itemList.first ? 'animate__backOutUp' : ''}">${item.title}</h1>
				</div>
				<div class="discribtion">
					<h4><span id="number">01</span><span id="text">${item.subHeading}</span></h4>
					<div class="details">
						<p>${item.heading}</p>
						<span><img src="/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/BigPicto-Arrow.png" alt="${'Arrow' @ i18n}"></span>
					</div>
				</div> 
				<!-- <video class="video" autoplay muted loop>
					<source src="${item.video}" alt="${'bannervideo' @ i18n}" type="video/mp4">
				</video> -->
				 <!-- <img src="/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/Sustainability_header_HP.png" alt="${'bannerimage' @ i18n}" class="img-fluid">			 -->
	</li>
</ul>

</div>
 <div id="banner" data-sly-list="${banner.bannerDetails}">
	 <!-- <video class="video" data-sly-test="${itemList.first && wcmmode.disabled}" autoplay muted loop id="bannersrc">
		<source src="${item.video}" alt="${'bannervideo' @ i18n}" type="video/mp4">
	</video> -->
	 <img src="/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/home-image.jpg" alt="${'bannerimage' @ i18n}" class="img-fluid"> 
</div> 
<sly data-sly-call="${templates.placeholder @ isEmpty = !banner.bannerDetails}"></sly>

