<div class="col-sm-12 col-md-12 cmp-contactbanner my-5"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
        <div class="container-fluid">
            <div class="row">
                <div class="bg-image cmp-contact-wrapper" style="background-image: url('${properties.bannerimage @ context='styleString'}');">
                </div>
            </div>
            <div class="cmp-contactbox">
                <div class="row">
                    <div class="col-sm-12 col-md-4 cmp-box-inner">
                        <div class="cmp-card-contact">
                            <h4>${properties.bannertitle}</h4>
                            <p>${properties.bannerdescription}</p>
                            <div class="cmp-box-button">
                                <a href="${properties.buttonLink}">
                                    <span>${properties.buttonlabel}</span>
                                    <span><img src="/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/Picto-Arrow.png"/></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <sly data-sly-call="${templates.placeholder @ isEmpty = !properties.bannertitle}"></sly>