<div class="col-sm-12 col-md-12 cmp-contactbanner mb-5 vh-100"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
        <div class="container-fluid">
            <div class="row">
                <div class="bg-image cmp-contact-wrapper" style="background-image: url('${properties.bannerimage @ context='styleString'}');">
                </div>
            </div>
            <div class="cmp-contactbox">
                <div class="row">
                    <div class="col-sm-12 col-md-4 cmp-box-inner">
                        <div class="cmp-card-contact">
                            <h4>${properties.bannertitle}</h4>
                            <p>${properties.bannerdescription}</p>
                            <div class="cmp-box-button">
                                <div class="button dark-btn aem-GridColumn aem-GridColumn--default--12">
                                    <button type="button" id="button-80b69e4142" class="btn cmp-button rounded-0">
                                        <img src="/content/dam/dramix/button-icon/Arrow.png" alt="Button Icon" class="cmp-button__icon arrow-left">
                            
                                        <span class="cmp-button__text">Contact us</span>
                                        <img src="/content/dam/dramix/button-icon/Arrow.png" alt="Button Icon" class="cmp-button__icon arrow-right">
                            
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <sly data-sly-call="${templates.placeholder @ isEmpty = !properties.bannertitle}"></sly>