<div class="container-dramix" 
    data-sly-use.solution="${'com.adobe.dramix.core.models.SolutionComponent'}"
	data-sly-use.templates="core/wcm/components/commons/v1/templates.html"> 
	<div class="row">
		<div class="col-6">
			<div class="row">
				<div class="head-text-solutions">${properties.heading}</div>
				<div class="solution-div">${properties.title}</div>
				<img class="responsive-stairs-img" src="./stairs_small.png" alt="" />
				<a href="#" class="challenge-card-link"
					data-sly-repeat="${solution.challengeList}">
					<div class="challenges-card ${itemList.index==0 ? '' : 'disabled'}">
						<div class="challenge-head">${item.heading}</div>
						<div class="challenge-text">${item.title}</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-6 blue-col-div">
			<div>
				<img class="stairs-image" src="${properties.backgroundImage}" alt="" />
				<div class="stairs-img-text" data-sly-list="${solution.solutionList}">
					<div class="head-text-softwares">${item.heading}</div>
					<a href="${item.link}" class="stairs-text-content-link">
						<div class="stairs-text-content"> ${item.description}
							<svg
								class="${itemList.index==0 ? 'arrow-stairs' : 'arrow-stairs-second' }"
								width="12" 
								height="20" 
								viewBox="0 0 12 20" 
								fill="none"
								xmlns="http://www.w3.org/2000/svg">
                    		    <path d="M2 1.5L9.5 10.5L2 19" 
                    		    	  stroke="white"
								      stroke-width="3" />
                            </svg>
						</div>
					</a>
					<svg data-sly-test="${!itemList.last}" 
					     width="320" 
					     height="1"
						 class="stairs-divide-line" 
						 viewBox="0 0 320 1" 
						 fill="none"
						 xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.2" 
                              x="320" 
                              width="1.00001" 
                              height="320"
							  transform="rotate(90 320 0)" 
							  fill="white" />  
              		</svg>
				</div>
			</div>
			<div class="blue-div">
				<div class="cmp-box-cont">
					<h4>COVID 19</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, seddo eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="cmp-box-button">
						<a href="#"> 
							<span>Learn More</span> 
							<span><img src="/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/Arrow.png" /></span>
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty = !solution.challengeList}"></sly>
