/*-------------------------------------------------*\
   General style sheet for the Banner Component
   
   Table of Contents
   If you conduct a Search on the page, type in the 
   section below that you would like to jump to.

   - Banner Videos
   - Banner Animations
   
\*-------------------------------------------------*/


.Homepage{
	width: 100%;
	height: 100vh;
	position: relative;
    background: transparent;
	overflow: hidden;

	.List-catecory{
		width: 100%;	
		z-index: 3;			
		position:absolute;		

		ul{
			display: flex;
			list-style: none;
			z-index: 999 !important;			
			li{	
				width:20%;
				height: 100vh;	
				padding-bottom: 80px;
				border-right: 1px solid hsla(0,0%,100%,.1);
				transition: 0.6s;
				position: relative;
				cursor: pointer;		
				
				&.active{
					width: 60%;
					.title{
						animation: move 1s linear forwards;
						animation-delay: 1s;
					}
				}

				&:last-child{
					border-right: 0px;
				}

				.title{
					width: 500px;
					top: 20%;
					left: 10%;
					position: absolute;
					opacity: 0;
					transition: .5s;
					color: $color-white;
					h1{
						color: $color-white;
						font-size: $font-size-38;
						letter-spacing: $letter-spacing-02;
						font-family: $font-family-Bekaert-bold;
					}					
				}

				.discribtion{
					position: absolute;
					bottom: 24%;
					left: 10%;
					h4{
						font-size: 15px;
						text-transform: uppercase;
						color:$color-white;
					}
				}

				video{
					opacity: 0;
				}

				.details{
					display: flex;
					margin-top: 30px;
					width: 200px;
					align-items: center;
					justify-content: space-between;
					span{
						img{
							width: 10px;
						}					
					}
					p{
						width: 130px;
						font-size: 20px;
						color: $color-white;
					}
				}
				.video{
					width: 100%;
					height: auto;
				}
			}

		}

	}

	#banner {
		video{
			position: absolute;
			width: 100%;
			height:100vh;
			left: 0;
			top: 0;
			z-index: 1;
			object-fit: cover;
		}

		img{
			position: absolute;
			width: 100%;
			height:100vh;
			left: 0;
			top: 0;
			z-index: 1;
			object-fit: cover;
		}
	}


	@keyframes move{
		0%{
			top: 40%;
			opacity: 0;
		}
		50%{
			top: 30%;
			opacity: 0.5;
		}
		100%{
			top: 20%;
			opacity: 1;
		}
	}

	/*-------------------------------------------*\
       Mobile Banner Css
    \*-------------------------------------------*/

	@media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){

		.List-catecory{			
			border-top: none;	
			ul{				
	
				li{
					width: 14%;					
					border-right: none;					
					height:100vh;	
					
					&.active{
						width: 76%;						
						.discribtion{							
							h4{
								display: flex;
								#text{
									display: flex;
									margin-left: 10px;
								}
								#number{
									margin-left: 0px;
									font-size: 15px;
								}
							}							
							.details{
								display: flex;	
							}
						}
					}			
	
					.discribtion{										
						h4{
							#text{
								display: none;								
							}
							#number{
								font-size: 20px;
								margin-left: 5px;
							}		
						}	
						.details{
							display: none;
							width: 180px;							
						}
					}	

					.title{						
						color: $color-white;
						width: 300px;
						h1{
							color: $color-white;
							font-size: $font-size-48;
							font-family: $font-family-Bekaert-bold;
							letter-spacing: $letter-spacing-02;							
						}					
					}
					
				}
				
			}
		}
	}

}

.Homepage {
  &.homepageedit{
	&.cq-Editable-dom{		
		height: 100%;
	}
  }
}