/*-------------------------------------------------*\
   General style sheet for the Header Component
   
   Table of Contents
   If you conduct a Search on the page, type in the 
   section below that you would like to jump to.

   - Homepage Header
   - Header Variations
   - Header Search
   - Header Navigation
   - Header Language Selector
   - Header Software Tools
   - Header Upcoming Events
   - Header Document Icon
   - Header Request a call back
   - Header Logo
   
\*-------------------------------------------------*/

.cmp-header{

  padding-left: 0px;
  padding-right: 0px;

  /*-------------------------------------------*\
      Header Transparent
  \*-------------------------------------------*/

  .cmp-header-var-trans{
  
     /*-------------------------------------------*\
      Header padding right and left
    \*-------------------------------------------*/
    .cmp-header-padding{
      padding-left: 70px;
      padding-right:70px;
    }

    /*-------------------------------------------*\
      Language Selector
    \*-------------------------------------------*/

    select {     
      background-color: transparent;
      border-radius: 0px;   
      display: inline-block;  
      padding: 0.5em 3.5em 0.5em 1em;
      font-family: $font-family-Bekaert-regular;
      &.classic { 
        color: $color-white;
        position: relative;
        border:0px;
        padding: 0px;
        option{ 
          color: $color-black;
        }

        &::before{
          content: "";
          position: absolute;
          margin: -30px 0px 0px -20px;
          display: inline-block;
          background:url(#{$image-path}/Picto.png) 0 0 no-repeat;
          background-size:  0.5em 0.5em;
          background-repeat: no-repeat;
          -webkit-transform: rotate(-10deg);
          -moz-transform: rotate(-10deg);
          -ms-transform: rotate(-10deg);
          -o-transform: rotate(-10deg);
          transform: rotate(-10deg);
          width: 100px;
          height: 100px;
        }
      }      
    }

    /*-------------------------------------------*\
      Software tools and upcoming events
    \*-------------------------------------------*/

    .cmp-primary-menu-bar{
      .cmp-top-header-right{
        grid-gap: 20px;
      }      
    }

    .cmp-top-bar-btn{
      color: $color-white;               
      .cmp-top-bar-tools{
        font-size: $font-size-16;
        font-weight: $font-weight-400;
        color: $color-white;
        text-decoration: none;
        padding-left: 10px;
      }
      .cmp-top-bar-events{
        font-size: $font-size-16;
        font-weight: $font-weight-400;
        color: $color-white;
        text-decoration: none;
        padding-left: 10px;
      }
    }

    .cmp-top-bar-btn-hover{
      display: none;
    }
    
  
    /*-------------------------------------------*\
      Search Section
    \*-------------------------------------------*/

    .search-section-wrapper{
      display: none;
      position: absolute;
      left: 0;
      top: 0%;
      width: 100%;
      -webkit-animation-name: megamenuanime;
      -webkit-animation-duration: 0.3s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: ease;
    }

    .search{
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      border: 1px solid #dbd7d7;
      padding: 0em 1em;
      .bi{
        fill: #14ACE5;
      }
      @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
        margin-right: 3em;
        border-left: 0px;
        border-right: 0px;
        padding: 9px;
        border-bottom: 1px solid $color-dark-blue;
      }
    }

    
    /*-------------------------------------------*\
       desktop Header Hide
    \*-------------------------------------------*/
    
    .xtra-mb-menu{
      display: none;
      @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        grid-gap:1em;
        padding-left: 0px;
        text-align: left;
        padding: 20px 20px;             
      }

      &:focus{
        border: 0px;
      }
      a{
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
          margin-bottom: 0px;
          font-size: $font-size-16;
          font-weight: $font-weight-400;
          color: $color-dark-blue;
          text-decoration: none; 
        }
      }
    }

    .abt-faq{
      display: none;
      @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        grid-gap:1em;        
        padding: 0.5em 1em;
      }
      a{
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
          text-decoration: none;
          font-size: 25px;
          color: $color-dark-gray;          
        }
      }
      ul{
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
          list-style: none;
          padding-left: 0px;
        }
      }
      li{
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
          padding: 0.5em 0em;
        }
      }
    }

    .cmp-bottom-bar{
      display: none;
      @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
        border-top:1px solid $color-dark-gray;
        grid-gap: 1em;
        align-items: center;
        display: grid;
        grid-template-columns: auto 1fr;
        padding: 0.5em 1em;
      }
    }


    /*-------------------------------------------*\
       Search Icon
    \*-------------------------------------------*/

    // .search-icon{
    //   img{
    //     width: 16px;
    //     height: 16px;
    //   }
    // } 

    /*-------------------------------------------*\
       Request Quote Button
    \*-------------------------------------------*/

    .quote-btn{
      border: 1px solid $color-white;
      color: $color-white;
      font-family: $font-family-Bekaert-regular;
      @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
        color: $color-dark-blue;
        font-size: $font-size-16;
        font-weight: $font-weight-700;
        font-family: $font-family-Bekaert-bold;
        border: 1px solid $color-light-gray;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      &:hover{
        color:$color-white;
        background-color: transparent;
        border-color: $color-white; 
      }
    }
    
     /*-------------------------------------------*\
       Right Icons alignment
    \*-------------------------------------------*/
    
    .right-nav-wrapper{
      display: flex;
      align-content: center;
      align-items: center;
      @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
        flex-direction: column;
      }
      .search-icon{
        padding-right:30px;
      }     
      .cmp-file-box{
        padding-right:30px;
      }
    }
    
     /*-------------------------------------------*\
       Secondary Menu Nav Bar
    \*-------------------------------------------*/

    .cmp-secondary-menu-bar{

      .cmp-header-padding{
        padding:0px 70px;
      }

      .offcanvas-header{
        .btn-close{
          @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){            
              content: "";
              position: absolute;         
              height: 25px;             
              width: 25px;
              z-index: 1;
              border: 0px;
              margin-left: 2px;
              right: 21px;
              background:url(#{$image-path}/mbclose.svg) 8px 9px no-repeat;          
              background-size: 35px;
          }
        }        
      }

      .offcanvas-body{
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){ 
          padding: 0em;
        }
        .cmp-button-wrapper{
          @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){ 
            padding: 1em;
          }
        }
      }

      .offcanvas-top{
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){ 
          height: 100vh;
        }
      }

    }


    /*-------------------------------------------*\
       Navbar 
    \*-------------------------------------------*/

    .cmp-navbar{
      grid-gap: 30px;     

      @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
        position: relative;
        padding: 1em 1em;
      }

      .nav-item{        
        a{
          color: $color-white;
          font-family: $font-family-Bekaert-regular;
          font-size: $font-size-24;
          font-weight: $font-weight-300;
          @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
            color: $color-dark-blue;
            font-size: $font-size-24;
            font-weight: $font-weight-300;
          }
        }
        .submenu-link {
          color: $color-dark-blue;
          opacity: 0.5;
          cursor: pointer;          
        }
        .dropdown-menu {          
          transition: all .3s;
          padding: 0rem 0rem;
          border-radius: 0rem;       
          .dropdown-item{
            color: $color-black;
          }          
        }
      }

      .dropdown-hover{
        
        &:hover{
          .dropdown-menu{
            display: block;
            left: 0;
            margin-top: 0.125rem;
            top: 100%;
            border-radius: 0px;
            border: 0px;
            transition: all .3s;
            opacity: 1;
            margin-top: -14px;
            margin-left: -1px;            
          } 
          .dropdown-toggle
          {
            &:after {
              content: "";
              position: absolute;         
              height: 26px;             
              width: 20px;
              z-index: 1;
              border: 0px;
              margin-left: 2px;
              background:url(#{$image-path}/dropup.svg) 10px 16px no-repeat; 
              @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
                height: 25px;              
                background:url(#{$image-path}/dropup.svg) 0px 14px no-repeat;  
                transform: rotate(0deg);                   
              }         
            }  
            
          }     
        }
      }

      .dropdown{        
        .dropdown-toggle
        {
          &:after {
            content: "";
            position: absolute;         
            height: 26px;
            position: absolute;
            width: 20px;
            z-index: 1;
            border: 0px;
            margin-left: 2px;
            background:url(#{$image-path}/dropdw.svg) 10px 16px no-repeat;  
            @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
              height: 25px;              
              background:url(#{$image-path}/dropup.svg) 0px 0px no-repeat;  
              transform: rotate(180deg);   
            }
          }
        }
      }

      /*-------------------------------------------*\
       Navbar submenu image
      \*-------------------------------------------*/
             
      .software-tab {
          img{
            display: none;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 100%;
            width: 94%;
            padding: 0em 1em;
          }
       }

      #software{
        display: none;
      }

      .list-group-item {
        color: $color-dark-blue;
        opacity: 0.5;
        border:0px;
        padding: 0px 0px 30px 0px;       
        .active{         
          color: $color-dark-blue;          
        }
      }

      .mega_menu_wrapper{
        padding-left: 70px;
        padding-right: 70px;
        .cmp-sub-description{
          font-weight: $font-weight-300;
          font-size: $font-size-38;
          line-height: $line-height-50;        
          letter-spacing: -0.02em;
          color: $color-dark-blue;
          width: 295px;
          height: 138px;
          left: 70px;
        }

        .inner-mg-menu-wrapper{
          .cmp-megamenu-image{
            .cmp-inner-image{
              width: 660px;
              height: auto;
            }            
          }

          .list-group{
            .software-tab{
              .active{
                background-color: transparent;
                color: $color-dark-blue;                
                opacity: 1; 
                font-size: $font-size-24;              
                font-weight: $font-weight-300;
                cursor: pointer;
                &:after{
                  background:url(#{$image-path}/submenunav.svg) 0px 11px no-repeat; 
                  border: 0;
                  content: "";
                  height: 30px;
                  margin-left: 30px;
                  position: absolute;
                  width: 30px;
                  z-index: 1;                                                                    
                }
              }
            }
          }
        }

      }

    }

    /*-------------------------------------------*\
       Top bar background 
    \*-------------------------------------------*/
  
    .cmp-transparent{
      background-color: transparent;
      z-index: 1080;
      border-bottom: 1px solid hsla(0,0%,100%,.1);
    }

    .cmp-bg-change-top{
      background-color: $color-dark-blue;      
      visibility: hidden;
    }

    .cmp-bg-change-navbar{
      background-color: $color-white;      
      visibility: hidden;
      
      .cmp-navbar{
        .nav-item{
          a{
            color: $color-dark-blue;
          }
        }
      }

      .quote-btn{
        border: 1px solid $color-dark-blue;
        color: $color-dark-blue;
        font-size: $font-size-16;
        font-weight: $font-weight-700;
      }

      .cmp-top-bar-btn{
        display: none;
      }

      .cmp-top-bar-btn-hover{
        display: block;        
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
          display: none;
        }
      }

    }

     /*-------------------------------------------*\
       Mobile view navbar icon
    \*-------------------------------------------*/

    .navbar-toggler-icon {
      content: "";
      background:url(#{$image-path}/mbmenu.svg) 0 1px no-repeat;      
      position: absolute;         
      margin-left: -24px;
      position: absolute;
      z-index: 111;
      width: 40px;
      top: 19px;
      height: 40px;  
    }


  }
   
}