/*-------------------------------------------------*\
   General style sheet for the Banner Component
   
   Table of Contents
   If you conduct a Search on the page, type in the 
   section below that you would like to jump to.

   - Banner Videos
   - Banner Animations
   
\*-------------------------------------------------*/


.Homepage{
	width: 100%;
	height: 100vh;
	position: relative;
    background: transparent;
	overflow: hidden;

	.List-catecory{
		width: 100%;	
		z-index: 3;			
		position:absolute;

		.cmp-list-category-container{
			padding-left: 0px;
			padding-right:0px;
		}

		ul{
			display: flex;
			list-style: none;
			z-index: 999 !important;
			padding-left: 0px;
			li{	
				width:20%;
				height: 100vh;	
				padding-bottom: 80px;
				border-right: 1px solid hsla(0,0%,100%,.5);
				transition: 0.6s;
				position: relative;
				cursor: pointer;
				
				.third-list{
					border: none;
				}

				&.active{
					width: 60%;
					.title{
						animation: move 1s linear forwards;
						animation-delay: 1s;
					}
				}

				.title{
					width: 500px;
					top: 20%;
					left: 10%;
					position: absolute;
					opacity: 0;
					transition: .5s;
					color: $color-white;
					h1{
						color: $color-white;
						font-size: $font-size-80;
						letter-spacing: $letter-spacing-02;
					}					
				}

				.discribtion{
					position: absolute;
					bottom: 10%;
					left: 10%;
					h4{
						font-size: 15px;
						text-transform: uppercase;
						color:$color-white;
					}
				}

				video{
					opacity: 0;
				}

				.details{
					display: flex;
					margin-top: 30px;
					width: 200px;
					align-items: center;
					justify-content: space-between;
					span{
						img{
							width: 10px;
						}					
					}
					p{
						width: 130px;
						font-size: 20px;
						color: $color-white;
					}
				}
				.video{
					width: 100%;
					height: auto;
				}
			}

		}

	}

	#banner {
		video{
			position: absolute;
			width: 100%;
			height:100vh;
			left: 0;
			top: 0;
			z-index: 1;
			object-fit: cover;
		}
	}


	@keyframes move{
		0%{
			top: 40%;
			opacity: 0;
		}
		50%{
			top: 30%;
			opacity: 0.5;
		}
		100%{
			top: 20%;
			opacity: 1;
		}
	}

	@media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){

		.List-catecory{
			margin-top: 120px;
			border-top: none;
	
			ul{
				flex-direction: column;
	
				li{
					width: 100%;
					height: 10vh;
					border-right: none;
					border-bottom: 1px solid rgba(255,255,255,0.5);
	
					&.active{
						height: 50vh;
						width: 100%;
					}
	
					&.discribtion{
						display: flex;
						width: 100%;
						left: 0;
						align-items: center;
						justify-content: space-around;
	
						&.details{
							width: 160px;
							h4{
								font-size: 10px;
								margin-top: 30px;
							}
							p{
								font-size: 15px;
							}
						}
					}
	
					.title {
						h1{
							font-size: 30px;
						}
					} 
				}
			}
		}
	}

}

