/*-------------------------------------------------*\
   General style sheet for the Header Component
   
   Table of Contents
   If you conduct a Search on the page, type in the 
   section below that you would like to jump to.

   - Homepage Header
   - Header Variations
   - Header Search
   - Header Navigation
   - Header Language Selector
   - Header Software Tools
   - Header Upcoming Events
   - Header Document Icon
   - Header Request a call back
   - Header Logo
   
\*-------------------------------------------------*/

.cmp-header{

  padding:0px 0px;

  /*-------------------------------------------*\
      Header Transparent
  \*-------------------------------------------*/

  .cmp-header-var-trans{
  
     /*-------------------------------------------*\
      Header padding right and left
    \*-------------------------------------------*/
    .cmp-header-padding{
      padding: 0px 70px;
    }

    /*-------------------------------------------*\
      Language Selector
    \*-------------------------------------------*/


    .cmp-language-navigation{
        width: 110px;
        margin-top: 0px;
        .cmp-language-list{
          width: 100%;
          margin: 0;
          padding: 0;
          background-color: transparent;
          border:0px;
          color: $color-white;
          .cmp-language-order{
              cursor: pointer;
              position: relative;
              color: $color-white;           
              width: 100%;
              list-style-type: none;
              background-color: transparent;
              padding: 0px;
              margin:0px;
              border:0px;
              font-size: $font-size-16;
              font-weight: $font-weight-300;
              font-style: $font-style-normal;
              .cmp-language-list-menu{
                position: absolute;
                z-index: 10000;
                top: 23px;                
                left: 0px;
                display: none;
                background: $color-white;
                margin: 0;
                padding: 0;
                .cmp-langauage-list-val{
                  padding: 0px;
                  width: 141px;                                 
                  a{                   
                    color: $color-dark-gray;
                    display: block;
                    text-decoration: none;
                    border-right: 0;                    
                    font-size: $font-size-16;
                    font-weight: $font-weight-300;
                    font-style: $font-style-normal;
                    border-bottom:1px solid $color-light-gray; 
                    padding: 10px;                    
                  }
                }                            
              }
              &:hover{
                padding: 0px 10px 0px 10px;
                width: 141px;                       
                background-color: $color-white;
                color: $color-dark-blue;
                cursor: pointer;
                .cmp-language-list-menu{
                  display: block;
                }
                &::after{
                  content: "";
                  height: 26px;
                  position: absolute;
                  width: 20px;
                  right: -1px;
                  top: 9px;
                  z-index: 999;
                  background:url(#{$image-path}/dropup.svg) 0px 0px no-repeat; 
                }             
              }
              &::after{
                content: "";
                height: 26px;
                position: absolute;
                width: 20px;
                right: -24px;
                top: 8px;
                z-index: 999;
                background:url(#{$image-path}/languagedropdw.svg) 0px 0px no-repeat; 
              }              
          }                         
        }
      }



    /*-------------------------------------------*\
      Software tools and upcoming events
    \*-------------------------------------------*/

    .cmp-primary-menu-bar{
      .cmp-top-header-right{
        grid-gap: 20px;
      }      
    }

    .cmp-top-bar-btn{
      color: $color-white;               
      .cmp-top-bar-tools{
        font-size: $font-size-16;
        font-weight: $font-weight-400;        
        color: $color-white;
        text-decoration: none;
        padding-left: 10px;
      }
      .cmp-top-bar-events{
        font-size: $font-size-16;
        font-weight: $font-weight-400;
        
        color: $color-white;
        text-decoration: none;
        padding-left: 10px;
      }
    }

    .cmp-top-bar-btn-hover{
      display: none;
    }
    
  
    /*-------------------------------------------*\
      Search Section
    \*-------------------------------------------*/

    .cmp-search-section-wrapper{
      display: none;
      position: absolute;
      left: 0;
      top: 0%;
      width: 100%;
      -webkit-animation-name: megamenuanime;
      -webkit-animation-duration: 0.3s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: ease;
    }

    .search{
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      border: 1px solid $color-light-gray;
      padding: 0em 1em;
      .bi{
        fill: $color-pure-cyan;
      }
      @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
        margin-right: 3em;
        border-left: 0px;
        border-right: 0px;
        padding: 0px;
        border-bottom: 0px solid $color-dark-blue;
        border-top: 0px;
      }
      
      .search-bar{
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
          border-bottom: 1px solid $color-dark-blue;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          border-radius: 0px;
          margin-left: -20px;
          z-index: -1;
        }
      }

      .input-group-addon{
        margin-bottom: 10px;
      }

    }

    
    
    /*-------------------------------------------*\
       desktop Header Hide
    \*-------------------------------------------*/
    
    .xtra-mb-menu{
      display: none;
      @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        grid-gap:1em;
        padding-left: 0px;
        text-align: left;
        padding: 20px 30px;             
      }

      &:focus{
        border: 0px;
      }
      a{
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
          margin-bottom: 0px;
          font-size: $font-size-16;
          font-weight: $font-weight-400;          
          color: $color-dark-blue;
          text-decoration: none; 
        }
      }
    }

    .abt-faq{
      display: none;
      @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        grid-gap:1em;        
        padding: 20px 30px;
      }
      a{
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
          text-decoration: none;
          font-size: $font-size-16;
          font-weight: $font-weight-400;
          line-height: $line-height-18;          
          color: $color-dark-gray;          
        }
      }
      ul{
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
          list-style: none;
          padding-left: 0px;
        }
      }
      li{
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
          padding: 0.5em 0em;
        }
      }
    }

    .cmp-bottom-bar{
      display: none;
      @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
        border-top:1px solid $color-dark-gray;
        grid-gap: 1em;
        align-items: center;
        display: grid;
        grid-template-columns: auto 1fr;        
        width: 100%;
      }
    }


    /*-------------------------------------------*\
       Request Quote Button
    \*-------------------------------------------*/

    .quote-btn{
      border: 1px solid $color-white;
      color: $color-white;
      
      @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
        color: $color-dark-blue;
        font-size: $font-size-16;
        font-weight: $font-weight-700;
        font-family: $font-family-Bekaert-bold;
        border: 1px solid $color-light-gray;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      &:hover{
        color:$color-white;
        background-color: transparent;
        border-color: $color-white; 
      }
    }
    
     /*-------------------------------------------*\
       Right Icons alignment
    \*-------------------------------------------*/
    
    .cmp-right-nav-wrapper{
      display: flex;
      align-content: center;
      align-items: center;
      @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;        
      }
      .cmp-search-icon{
        padding-right:30px;
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
          display: none;
        }
      }     
      .cmp-file-box{
        padding-right:30px;
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
          display: none;
        }
      }
    }
    
     /*-------------------------------------------*\
       Secondary Menu Nav Bar
    \*-------------------------------------------*/

    .cmp-secondary-menu-bar{
      z-index: 1020;
      @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){ 
        padding: 0px;
      }
      .cmp-header-padding{
        padding:0px 70px;
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){ 
          padding: 0px 20px;
          justify-content: space-around;
          border-bottom: 1px solid $color-light-white;
        }  
      }

      .logo-wrapper{
        padding-right: 48px;
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){ 
          border-right: 1px solid $color-light-white;
          border-left: 1px solid $color-light-white;
          padding-left: 10%;
          padding-right: 10%;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }

      .offcanvas-header{
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){ 
          padding-top: 10px;
        }
        .btn-close{
          @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){            
              content: "";
              position: absolute;         
              height: 1px;             
              width: 8px;
              z-index: 1;
              border: 0px;
              margin-left: 2px;
              right: 0px;
              opacity: 1;
              padding: 26px;
              background:url(#{$image-path}/mbclose.svg) 20px 21px no-repeat;          
              background-size: 14px;
              border: 1px solid $color-light-gray;
              border-top: 0px;
              border-radius: 0px;
          }
        }        
      }

      .offcanvas-body{
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){ 
          padding: 0px;
        }
        .cmp-button-wrapper{
          @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){ 
            padding: 30px 31px 30px 31px;
            width: 100%;
          }
        }
      }

      .offcanvas-top{
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){ 
          height: 100vh;
        }
      }
      
      .cmp-top-bar-btn-scroll{
        display: none;
      }

    /*-------------------------------------------*\
       Sticky Header
    \*-------------------------------------------*/

    &.cmp-sticky{
      position: fixed;
      top:0px;
      width: 100%;
      background-color: $color-white; 
      @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){ 
        border-bottom: 1px solid $color-light-blue;
        padding: 0px;     
      }     
      .cmp-navbar{
        .nav-item{
          a{
            color: $color-dark-blue;
          }
        }        
        .dropdown{        
          .dropdown-hover-icon
          {
            &:after {
              content: "";
              position: absolute;         
              height: 26px;
              position: absolute;
              width: 20px;
              z-index: 1;
              border: 0px;
              margin-left: 2px;
              background:url(#{$image-path}/dropdwsticky.svg) 10px 14px no-repeat;
              @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
                background:url(#{$image-path}/dropdwsticky.svg) 10px 4px  no-repeat;
                width: 50px;
              }
            }
          }
        } 
        .dropdown-hover{        
          &:hover{
            .dropdown-hover-icon
            {
              &:after {
                content: "";
                position: absolute;         
                height: 26px;             
                width: 20px;
                z-index: 1;
                border: 0px;
                margin-left: 2px;
                background:url(#{$image-path}/dropup.svg) 10px 14px no-repeat;    
              }  
            }     
          }
        }
      }
      .cmp-sticky-header-hide{
        display: none;
      }
      .cmp-sticky-header-show{
        display: block;
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
          display: none;
        }
      }
      .quote-btn{
        border: 1px solid $color-dark-blue;
        color: $color-dark-blue;
        font-size: $font-size-16;
        font-weight: $font-weight-700;
      }

      .cmp-top-bar-email{
        display: none;
      }

      .cmp-top-bar-btn-scroll{
        display: block;
      }

      .navbar-toggler-icon {
        background: url(#{$image-path}/mbmenusticky.svg) 0 1px no-repeat;
        content: "";
        height: 40px;
        margin-left: -24px;
        position: absolute;
        top: 12px;
        width: 40px;
        z-index: 111;       
      }

      .logo-wrapper{
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){ 
          border-right: 1px solid $color-light-blue;
          border-left: 1px solid $color-light-blue;
          padding-left: 10%;
          padding-right: 10%;
        }
      }
    }

   }


    /*-------------------------------------------*\
       Navbar 
    \*-------------------------------------------*/

    .cmp-navbar{
      grid-gap: 30px;     

      @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
        position: relative;
        padding: 56px 30px 0px 30px;
        grid-gap: 0px;
      }

      .nav-item{        
        a{
          color: $color-white;          
          font-size: $font-size-20;
          font-weight: $font-weight-300;
          font-style: $font-style-normal;
          @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
            color: $color-dark-blue;
            font-size: $font-size-24;
            font-weight: $font-weight-300;
          }
        }
        .submenu-link {
          color: $color-dark-blue;
          opacity: 0.5;
          cursor: pointer; 
          @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
            font-size: $font-size-16;            
            font-weight: $font-weight-400;
            line-height: $line-height-18;
          }
          &:hover
          {
              background-color: transparent;
              color: $color-dark-blue;                
              opacity: 1; 
              font-size: $font-size-20;              
              font-weight: $font-weight-300;
              cursor: pointer;
              @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
                font-size: $font-size-16;
                font-weight: $font-weight-400;
                line-height: $line-height-18;
                color: $color-black;
              }
              &:after{
                background:url(#{$image-path}/submenunav.svg) 0px 6px no-repeat; 
                border: 0;
                content: "";
                height: 30px;
                margin-left: 30px;
                position: absolute;
                width: 30px;
                z-index: 1;                                                                    
              }
          }
        }
        .dropdown-menu {          
          transition: all .3s;
          padding: 0rem 0rem;
          border-radius: 0rem;       
          .dropdown-item{
            color: $color-black;
          }          
        }
      }

      .dropdown-hover{        
        &:hover{
          .dropdown-menu{
            display: block;
            left: 0;
            margin-top: 0.125rem;
            top: 100%;
            border-radius: 0px;
            border: 0px;
            transition: all .3s;
            opacity: 1;
            margin-top: -14px;
            margin-left: -1px;            
          } 
          .dropdown-hover-icon
          {
            &:after {
              content: "";
              position: absolute;         
              height: 26px;             
              width: 20px;
              z-index: 1;
              border: 0px;
              margin-left: 2px;
              background:url(#{$image-path}/dropup.svg) 10px 14px no-repeat; 
              @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
                height: 25px;
                width:50px;             
                background:url(#{$image-path}/dropup.svg) 19px 15px no-repeat;  
                transform: rotate(0deg);                   
              }         
            }  
            
          }     
        }
      }

      .dropdown{        
        .dropdown-hover-icon
        {
          &:after {
            content: "";
            position: absolute;         
            height: 26px;
            position: absolute;
            width: 20px;
            z-index: 1;
            border: 0px;
            margin-left: 2px;
            background:url(#{$image-path}/dropdw.svg) 10px 14px no-repeat;  
            @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
              width: 50px;
              height: 25px;           
              background:url(#{$image-path}/dropup.svg) 0px 5px no-repeat;  
              transform: rotate(180deg);   
            }
          }
        }
      }

      /*-------------------------------------------*\
       Navbar submenu image
      \*-------------------------------------------*/
             
      .software-tab {
          img{
            display: none;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 100%;
            width: 94%;
            padding: 0em 1em;
          }
       }

      #software{
        display: none;
      }

      .list-group-item {
        color: $color-dark-blue;
        opacity: 0.5;
        border:0px;
        padding: 0px 0px 30px 0px;       
        .active{         
          color: $color-dark-blue;          
        }
      }

      .mega_menu_wrapper{       
        padding:0px 0px 0px 70px;
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
          padding:0px;
        }
        .cmp-sub-description{
          font-weight: $font-weight-300;
          font-size: $font-size-32;
          line-height: $line-height-50;        
          letter-spacing: -0.02em;
          color: $color-dark-blue;          
          width: 295px;
          height: 138px;
          left: 70px;
          @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
            display: none;
          }
        }

        .inner-mg-menu-wrapper{
          .cmp-megamenu-image{
            .cmp-inner-image{
              width: 660px;
              height: auto;
            }            
          }
        }

      }

    }

    /*-------------------------------------------*\
       Top bar background 
    \*-------------------------------------------*/
  
    .cmp-transparent{
      background-color: transparent;
      z-index: 1080;
      border-bottom: 1px solid $color-light-white-transparent;
    }

    .cmp-bg-change-top{
      background-color: $color-dark-blue;      
      visibility: hidden;
    }

    .cmp-bg-change-navbar{
      background-color: $color-white;      
      visibility: hidden;
      
      .cmp-navbar{
        .nav-item{
          a{
            color: $color-dark-blue;
          }
        }
      }

      .quote-btn{
        border: 1px solid $color-dark-blue;
        color: $color-dark-blue;
        font-size: $font-size-16;
        font-weight: $font-weight-700;
      }

      .cmp-top-bar-btn{
        display: none;
      }

      .cmp-top-bar-btn-hover{
        display: block;        
        @media only screen and (min-width:$screen-xs-min) and (max-width:$screen-md-min){
          display: none;
        }
      }

    }

     /*-------------------------------------------*\
       Mobile view navbar icon
    \*-------------------------------------------*/

    .navbar-toggler-icon {
      content: "";
      background:url(#{$image-path}/mbmenu.svg) 0 1px no-repeat;      
      position: absolute;         
      margin-left: -24px;
      position: absolute;
      z-index: 111;
      width: 40px;
      top: 19px;
      height: 40px;  
    }


  }
   
}
