.container-dramix {
  .solution-row {
    .cmp-card-col {
      background-color: $color-dark-blue;
    }
    .grey-background {
      background: $color-gray;
    }
    .cmp-left {
      .head-text-solutions {
        font-weight: $font-weight-700;
        font-size: $font-size-12;
        line-height: $line-height-12;
        letter-spacing: $letter-spacing-2;
        color: $color-pure-cyan;
      }
      .solution-div {
        .cmp-solution-title{
          font-weight: $font-weight-300;
          font-size: $font-size-80;
          line-height: $line-height-90;
          letter-spacing: $letter-spacing-02;
          color: $color-dark-blue; 
          @media (max-width: 768px) {
            font-size: 48px;
            line-height: 55px;
            padding: 20px;
            width: 100%;
          }
        }
      }
    }
    .challenge-card-link {
      text-decoration: none;
      .challenges-card {
        top: -15%;
        opacity: 0.5;
        background-color: $color-white;
        width: 70%;
        float: right;
        margin-bottom: 1px;
        @media (min-width: 1024px) and (max-width: 1179px) {
          top: -5px;
        }
        .challenge-head {
          font-weight: $font-weight-700;
          font-size: $font-size-12;
          line-height: $line-height-12;
          letter-spacing: $letter-spacing-2;
          color: $color-dark-blue;
        }
        .challenge-text {
          font-weight: $font-weight-300;
          font-size: $font-size-24;
          line-height: $line-height-32;
          color: $color-dark-blue;
        }
      }
      .challenges-card.active {
        opacity: 1;
      }
    }
    .image-bg-div {
      min-height: 400px;
      height: 600px;
      background-repeat: no-repeat;
      @media (max-width: 768px) {
        height: 100%;
      }
      .stairs-img-text {
        top: 5%;
        width: 70%;
        .head-text-softwares {
          font-weight: $font-weight-700;
          font-size: $font-size-12;
          line-height: $line-height-12;
          letter-spacing: $letter-spacing-2;
          color: $color-white;
        }
        .stairs-text-content-link {
          .stairs-text-content {
            font-style: normal;
            font-weight: $font-weight-300;
            font-size: $font-size-24;
            line-height: $line-height-32;
            width: 70%;
            color: $color-white;
            .arrow-stairs {
              right: 5%;
            }
          }
        }
      }
    }
    .cmp-card-cont {
      background-color: $color-white;
      max-width: 70%;
      top: -15%;
      @media (min-width: 1024px) and (max-width: 1179px) {
        top: -5px;
      }
      .cmp-card-wrapper {
        .cmp-card-inner {
          max-width: 50%;
          margin: 0 auto;
          h4 {
            color: $color-dark-blue;
            font-weight: $font-weight-300;
            font-size: 30px;
            line-height: $line-height-40;
            letter-spacing: $letter-spacing-02;
          }
          p {
            font-weight: $font-weight-400;
            font-size: $font-size-16;
            line-height: 146.6%;
            color: $color-dark-gray;
            margin: 20px 0;
          }
          .cmp-box-button {
            a {
              grid-gap: 2em;
              border: 1px solid rgba(4, 42, 75, 0.2);
              padding: 0.8em 1em;
              color: $color-dark-blue;
              font-size: $font-size-16;
              font-weight: $font-weight-700;
              line-height: $line-height-17;
            }
          }
        }
      }
    }
    .solutions-accordion {
      .solutions-accordion-items {
        .solutions-accordion-header {
          .accordion-button {
            background-color: $color-white;
            .challenges-card-accordion {
              margin-bottom: 1px;
              .challenge-head {
                font-weight: $font-weight-700;
                font-size: $font-size-12;
                line-height: $line-height-12;
                letter-spacing: $letter-spacing-2;
                color: $color-dark-blue;
              }
              .challenge-text {
                font-weight: $font-weight-300;
                font-size: $font-size-16;
                line-height: $line-height-20;
                color: $color-dark-blue;
              }
            }
          }
          .accordion-button::after {
            background-image: none;
          }
        }
        .solutions-accordion-body {
          .cmp-card-cont-accordion {
            .cmp-card-wrapper {
              .cmp-card-inner {
                h4 {
                  color: $color-dark-blue;
                  font-weight: $font-weight-300;
                  font-size: $font-size-24;
                  line-height: $line-height-28;
                  letter-spacing: $letter-spacing-02;
                }
                p {
                  font-weight: $font-weight-400;
                  font-size: $font-size-16;
                  line-height: 146.6%;
                  color: $color-dark-gray;
                  margin: 20px 0;
                }
                .cmp-box-button {
                  a {
                    grid-gap: 2em;
                    border: 1px solid rgba(4, 42, 75, 0.2);
                    padding: 0.8em 1em;
                    color: $color-dark-blue;
                    font-size: $font-size-16;
                    font-weight: $font-weight-700;
                    line-height: $line-height-17;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}