/*-------------------------------------------------*\
   General style sheet for the Solution Component of Home page
   
   Table of Contents
   If you conduct a Search on the page, type in the 
   section below that you would like to jump to.

   - Title text of soltuion component. 
   - Left Side Challenges cards.
   - Image Div with softwares text 
   - Right Side text cards.
   - Accordion for mobile responsive. 
   
\*-------------------------------------------------*/

.container-dramix {
  .solution-row {
    .cmp-card-col {
      background-color: $color-dark-blue;
    }

    .grey-background {
      background: $color-gray;
    }

    /*-------------------------------------------*\
      Title text of soltuion component. 
\*-------------------------------------------*/
    .cmp-left {
      .head-text-solutions {
        font-weight: $font-weight-700;
        font-size: $font-size-12;
        line-height: $line-height-12;
        letter-spacing: $letter-spacing-2;
        color: $color-pure-cyan;
        padding-bottom: 30px;

        @media(min-width:1340px) and (max-width:1600px) {
          max-width: 90%;
          width: 100%;
          margin: 0 auto;
        }

        @media(min-width:1601px) and (max-width:1800px) {
          max-width: 80%;
          width: 100%;
          margin: 0 auto;
        }

        @media(min-width:1800px) {
          max-width: 71%;
          width: 100%;
          margin: 0 auto;
        }
      }

      .solution-div {
        .cmp-solution-title {
          font-weight: $font-weight-300;
          font-size: $font-size-80;
          line-height: $line-height-90;
          letter-spacing: $letter-spacing-02;
          color: $color-dark-blue;

          @media (max-width: $screen-md-min) {
            font-size: 48px;
            line-height: 55px;
            padding: 20px;
            width: 100%;
          }

          @media(min-width:1340px) and (max-width:1600px) {
            max-width: 90%;
            width: 100%;
            margin: 0 auto;
          }

          @media(min-width:1601px) and (max-width:1800px) {
            max-width: 80%;
            width: 100%;
            margin: 0 auto;
          }

          @media(min-width:1800px) {
            max-width: 71%;
            width: 100%;
            margin: 0 auto;
          }

        }
      }
    }

    /*-------------------------------------------*\
      Left Side Challenges cards.
\*-------------------------------------------*/
    .challenge-card-link {
      cursor: pointer;
      top: -15%;

      @media (min-width: $screen-lg-min) and (max-width: $screen-lg-l-min) {
        top: -5px;
      }


      .challenges-card {
        opacity: 0.5;
        background-color: $color-white;
        width: 70%;
        margin-bottom: 1px;


        .challenge-head {
          font-weight: $font-weight-700;
          font-size: $font-size-12;
          line-height: $line-height-12;
          letter-spacing: $letter-spacing-2;
          color: $color-dark-blue;
        }

        .challenge-text {
          font-weight: $font-weight-300;
          font-size: $font-size-24;
          line-height: $line-height-32;
          color: $color-dark-blue;
        }
      }

      .challenges-card {
        &.active {
          opacity: 1;
        }

      }
    }

    /*-------------------------------------------*\
      Image Div with softwares text 
\*-------------------------------------------*/

    .image-bg-div {
      min-height: 400px;
      height: 600px;
      background-repeat: no-repeat;
      background-size: cover;

      @media (max-width: $screen-md-min) {
        height: 100%;
      }

      .stairs-img-text {
        top: 5%;
        width: 70%;

        .head-text-softwares {
          font-weight: $font-weight-700;
          font-size: $font-size-12;
          line-height: $line-height-12;
          letter-spacing: $letter-spacing-2;
          color: $color-white;
        }

        .stairs-text-content-link {
          .stairs-text-content {
            font-style: $font-weight-normal;
            font-weight: $font-weight-300;
            font-size: $font-size-24;
            line-height: $line-height-32;
            width: 70%;
            color: $color-white;

            .arrow-stairs {
              right: 5%;
            }
          }
        }
      }
    }

    /*-------------------------------------------*\
      Right Side text cards.
\*-------------------------------------------*/
    .cmp-card-cont {
      background-color: $color-white;
      max-width: 70%;
      top: -15%;

      @media (min-width: $screen-lg-min) and (max-width: $screen-lg-l-min) {
        top: -5px;
      }

      .cmp-card-wrapper {
        .cmp-card-inner {
          max-width: 50%;
          margin: 0 auto;

          h4 {
            color: $color-dark-blue;
            font-weight: $font-weight-300;
            font-size: 30px;
            line-height: $line-height-40;
            letter-spacing: $letter-spacing-02;
          }

          p {
            font-weight: $font-weight-400;
            font-size: $font-size-16;
            line-height: 146.6%;
            color: $color-dark-gray;
            margin: 20px 0;
          }

          .cmp-box-button {
            .dark-btn-grey {
              .cmp-button {
                width: 148px;
              }
            }
          }
        }
      }
    }

    /*-------------------------------------------*\
      Accordion for mobile responsive. 
\*-------------------------------------------*/
    .solutions-accordion {
      .solutions-accordion-items {
        .solutions-accordion-header {
          .accordion-button {
            background-color: $color-white;

            .challenges-card-accordion {
              margin-bottom: 1px;

              .challenge-head {
                font-weight: $font-weight-700;
                font-size: $font-size-12;
                line-height: $line-height-12;
                letter-spacing: $letter-spacing-2;
                color: $color-dark-blue;
              }

              .challenge-text {
                font-weight: $font-weight-300;
                font-size: $font-size-16;
                line-height: $line-height-20;
                color: $color-dark-blue;
              }
            }
          }

          .accordion-button {
            &::after {
              background-image: none;
            }
          }
        }

        .solutions-accordion-body {
          .cmp-card-cont-accordion {
            .cmp-card-wrapper {
              .cmp-card-inner {
                h4 {
                  color: $color-dark-blue;
                  font-weight: $font-weight-300;
                  font-size: $font-size-24;
                  line-height: $line-height-28;
                  letter-spacing: $letter-spacing-02;
                }

                p {
                  font-weight: $font-weight-400;
                  font-size: $font-size-16;
                  line-height: 146.6%;
                  color: $color-dark-gray;
                  margin: 20px 0;
                }

                .cmp-box-button {
                  a {
                    grid-gap: 2em;
                    border: 1px solid rgba(4, 42, 75, 0.2);
                    padding: 0.8em 1em;
                    color: $color-dark-blue;
                    font-size: $font-size-16;
                    font-weight: $font-weight-700;
                    line-height: $line-height-17;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}