.cmp-contactbanner {
    margin: 0 auto;

    .bg-image {
        height: 70vh;
        background-position: center top;
        background-attachment: scroll;
        background-size: cover;
        background-repeat: no-repeat;

        @media(max-width:767px) {
            height: 25vh;
        }
    }

    .cmp-contactbox {
        position: relative;

        .cmp-box-inner {
            position: absolute;
            top: -20rem;
            right: 10rem;

            @media(max-width:767px) {
                position: static;
                padding: 0;
            }

            @media(min-width:768px) and (max-width:1024px) {
                position: static;
                padding: 0;
                width: 100%;
            }

            .cmp-card-contact {
                background: #FE5000;
                display: grid;
                padding: 3em;

                @media(min-width:1280px) and (max-width:1549px) {
                    padding: 4em 3em;
                    grid-gap: 1em;
                }

                @media(min-width:1550px) and (max-width:1920px) {
                    padding: 4em;
                    grid-gap: 1.5em;
                }

                h4 {
                    font-size: 38px;
                    color: $color-white;
                    font-weight: 300;
                    margin: 10px 0;
                    line-height: 50px;
                    width: 100%;
                    max-width: 70%;
                    margin: 10px auto;

                    @media(min-width:1024px) and (max-width:1150px) {
                        max-width: 80%;
                    }

                    @media(min-width:1280px) and (max-width:1549px) {
                        max-width: 50%;
                        margin: 10px 10px auto 10px;
                    }

                    @media(min-width:1550px) and (max-width:1920px) {
                        margin: 10px 10px auto 10px;
                    }
                }

                p {
                    color: $color-white;
                    font-size: 16px;
                    font-weight: 400;
                    width: 100%;
                    max-width: 70%;
                    margin: 20px auto;

                    @media(min-width:1024px) and (max-width:1150px) {
                        max-width: 80%;
                    }

                    @media(min-width:1280px) and (max-width:1549px) {
                        margin: 10px 10px auto 10px;
                        max-width: 100%;
                    }

                    @media(min-width:1550px) and (max-width:1920px) {
                        margin: 10px 10px auto 10px;
                        max-width: 100%;
                    }

                    @media(min-width:1921px) {
                        max-width: 100%;
                    }
                }

                .cmp-box-button {
                    margin: 20px auto;
                    width: 100%;
                    max-width: 70%;

                    @media(min-width:1024px) and (max-width:1150px) {
                        max-width: 80%;
                    }

                    @media(min-width:1280px) and (max-width:1549px) {
                        margin: 10px 10px auto 10px;
                    }

                    @media(min-width:1550px) and (max-width:1920px) {
                        max-width: 100%;
                        margin: 10px 10px auto 10px;
                    }

                    .dark-btn {
                        .cmp-button {
                            width: 163px;

                            .cmp-button__text {
                                margin: auto 25px auto 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}