/*-------------------------------------------------*\
   General style sheet for the Talk to Expert
   
   Table of Contents
   If you conduct a Search on the page, type in the 
   section below that you would like to jump to.

   - Talk to Expert
   - UI - AEM Editable Sections
   
\*-------------------------------------------------*/
/*-------------------------------------------*\
        Talk to Expert
\*-------------------------------------------*/

.cmp-contactbanner {
    margin: 0 auto;
    padding-bottom: 7.625em;

    .bg-image {
        height: 95vh;
        background-position: center top;
        background-attachment: scroll;
        background-size: cover;
        background-repeat: no-repeat;

        // 768px
        @media(max-width:$screen-md-min) {
            height: 25vh;
        }
    }

    .cmp-contactbox {
        position: relative;
        height: 200px;

        // 768px
        @media(max-width:$screen-md-min) {
            height: auto;
        }

        .cmp-box-inner {
            position: absolute;
            top: -20rem;
            right: 5rem;
            background: $color-background-red;

            // 768px
            @media(max-width:$screen-md-min) {
                position: static;
                padding: 0;
            }

            // 768px and 1024px
            @media(min-width:$screen-md-min) and (max-width:$screen-lg-m-min) {
                position: static;
                padding: 0;
                width: 100%;
            }

            .cmp-card-contact {
                background: $color-background-red;
                display: grid;
                padding: 3em;

                // 1373px and 1549px
                @media(min-width:$screen-xl-la-min) and (max-width:$screen-xll-a-min) {
                    padding: 4em 3em;
                    grid-gap: 1em;
                    width: 100%;
                    max-width: 70%;
                    margin: 0 auto;
                }

                // 1280px and 1373px
                @media(min-width:$screen-xl-l-min) and (max-width:$screen-xl-la-min) {
                    padding: 4em 3em;
                    grid-gap: 1em;
                    width: 100%;
                    max-width: 85%;
                    margin: 0 auto;
                }

                // 1550px and 1920px
                @media(min-width:$screen-xll-b-min) and (max-width:$screen-xll-c-min) {
                    padding: 4em;
                    grid-gap: 1.5em;
                    width: 100%;
                    max-width: 70%;
                    margin: 0 auto;
                }

                // 1921px
                @media(min-width:$screen-xll-d-min) {
                    padding: 6em 3em;
                    width: 100%;
                    max-width: 70%;
                    margin: 0 auto;
                }

                h4 {
                    font-size: $font-size-38;
                    color: $color-white;
                    font-weight: $font-weight-300;
                    margin: 10px 0;
                    line-height: 50px;
                    width: 100%;
                    max-width: 70%;
                    margin: 10px auto;

                    // 1024px and 1150px
                    @media(min-width:$screen-lg-m-min) and (max-width:$screen-lg-la-min) {
                        max-width: 80%;
                    }

                    // 1280px and 1549px
                    @media(min-width:$screen-xl-l-min) and (max-width:$screen-xll-a-min) {
                        max-width: 50%;
                        margin: 10px 10px 10px 0;
                    }

                    // 1550px and 1920px
                    @media(min-width:$screen-xll-b-min) and (max-width:$screen-xll-c-min) {
                        max-width: 50%;
                        margin: 10px 10px 10px 0;
                    }

                    // 1921px
                    @media(min-width:$screen-xll-d-min) {
                        max-width: 45%;
                        margin: 10px 10px 10px 0;
                    }
                }

                p {
                    color: $color-white;
                    font-size: $font-size-16;
                    font-weight: $font-weight-400;
                    width: 100%;
                    max-width: 70%;
                    margin: 20px auto;

                    // 1024px and 1150px
                    @media(min-width:$screen-lg-m-min) and (max-width:$screen-lg-la-min) {
                        max-width: 80%;
                    }

                    // 1280px and 1549px
                    @media(min-width:$screen-xl-l-min) and (max-width:$screen-xll-a-min) {
                        margin: 10px 10px 10px 0;
                        max-width: 100%;
                    }

                    // 1550px and 1920px
                    @media(min-width:$screen-xll-b-min) and (max-width:$screen-xll-c-min) {
                        margin: 10px 10px 10px 0;
                        max-width: 100%;
                    }

                    // 1921px
                    @media(min-width:$screen-xll-d-min) {
                        max-width: 100%;
                    }
                }

                .cmp-box-button {
                    margin: 20px auto;
                    width: 100%;
                    max-width: 70%;

                    // 1024px and 1150px
                    @media(min-width:$screen-lg-m-min) and (max-width:$screen-lg-la-min) {
                        max-width: 80%;
                    }

                    // 1280px and 1549px
                    @media(min-width:$screen-xl-l-min) and (max-width:$screen-xll-a-min) {
                        margin: 10px 10px 10px 0;
                    }

                    // 1550px and 1920px
                    @media(min-width:$screen-xll-b-min) and (max-width:$screen-xll-c-min) {
                        max-width: 100%;
                        margin: 10px 10px 10px 0;
                    }

                    // 1921px
                    @media(min-width:$screen-xll-d-min) {
                        margin: 10px 10px 10px 0;
                    }

                    .dark-btn {
                        .cmp-button {
                            width: 163px;

                            .cmp-button__text {
                                margin: auto 25px auto 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*-------------------------------------------*\
    UI - AEM Editable Sections
\*-------------------------------------------*/

.cmp-contactbanner {
    &.talk-to-expert-edit {
        height: 100%;

        .row {
            .bg-image {
                height: 600px;
                background-position: center top;
                background-attachment: scroll;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        .cmp-contactbox {
            height: 200px;
        }
    }
}