/*-------------------------------------------------*\
   General style sheet for the Sticky Teaser Component
   
   Table of Contents
   If you conduct a Search on the page, type in the 
   section below that you would like to jump to.

   - Disable Teaser Horziontal Line
   
\*-------------------------------------------------*/
.sticky-teaser-container {
    background-color: $color-dark-blue;
    margin-top: 8em;

    .cmp-columncontrol {
        .column-inner {
            top: -15%;
            position: relative;
            @media (max-width: $screen-md-min) {
                margin-top: 10px;
              }
            .teaser {
                .cmp-teaser {
                    &__title{
                        width: 50%;
                        margin: auto;
                        @media (max-width: $screen-lg-min) {
                            width: 100%;
                          }
                    }
                    &__content {
                        width: 100%;
                        margin: 0 auto;
                        padding: 3.75em;
                        background-color: $color-white;
                    }

                    &__title-link {
                        text-decoration: none;
                        color: $color-dark-blue;
                        font-weight: $font-weight-300;
                        font-size: $font-size-38;
                        line-height: $line-height-44;
                        letter-spacing: $letter-spacing-02;
                        margin: 0;
                    }

                    &__description {
                        width: 50%;
                        margin: auto;
                        @media (max-width: $screen-lg-min) {
                            width: 100%;
                          }
                        p {
                            font-weight: $font-weight-400;
                            font-size: $font-size-16;
                            line-height: $line-height-146;
                            color: $color-dark-gray;
                            margin: 20px 0;
                        }
                    }
                    &__action-container{
                        width: 50%;
                        margin: auto;
                        @media (max-width: $screen-lg-min) {
                            width: 100%;
                          }
                    }
                }
            }
        }
    }
}