<div data-sly-use.contact="com.adobe.dramix.core.models.Contact"
	data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
	<p>${properties.subHeading}</p>
	<h1>${properties.heading}</h1>

	<div data-sly-list="${contact.contactDetails}"
		style="display: flex; gap: 24px">
		<div>
			<img alt="" src="${item.imagePath}" />
			<p>${item.name}</p>
			<p>${item.details @ context="html"}</p>
		</div>
	</div>
</div>
<sly
	data-sly-call="${templates.placeholder @ isEmpty = !contact.contactDetails}"></sly>