//== Color

// Normal mode
$color-black: #000000;
$color-black-07: rgba(0, 0, 0, 0.7);
$color-foreground: #202020;
$color-background: #ececec;
$color-link: #2020e0;
$color-regal-blue: #0E3F6B;
$color-picton-blue: #54B2E3;
$color-white: #ffffff;
$color-dark-blue: #042a4b;
$color-pure-cyan: #00B5E8;
$color-dark-gray: #707070;
$color-light-gray: #dadada;
$color-gray: #f7f7f7;
$color-cloud-gray: #C4C4C4;
$color-background-red:#FE5000;

// Dark mode
$color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);
$color-link-dark: invert($color-link);

// Font Family Type

$font-family-roboto: "Roboto",
sans-serif;
$font-family-robotoLight: "Roboto-Light";
$font-family-robotoItalic: "Roboto-Italic";
$font-family-robotoBold: "Roboto-Bold";

$font-family-Bekaert-regular: "Bekaert-Regular";
$font-family-Bekaert-medium: "Bekaert-Medium";
$font-family-Bekaert-bold: "Bekaert-Bold";
$font-family-Bekaert-italic: "Bekaert-Italic";
$font-family-Bekaert-medium-italic: "Bekaert-Medium-Italic";
$font-family-Bekaert-bold-italic: "Bekaert-Bold-Italic";
$font-family-Bekaert-heading-regular: "Bekaert-Heading-Regular";
$font-family-Bekaert-heading-bold: "Bekaert-Heading-Bold";

// Font Size
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-38: 38px;
$font-size-32: 32px;
$font-size-48: 48px;
$font-size-80: 80px;

// Font Weight
$font-weight-normal: normal;
$font-weight-italic: italic;
$font-weight-bold: bold;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-700: 700;

// Line Height
$line-height-12: 12px;
$line-height-17: 17px;
$line-height-18: 18px;
$line-height-20: 20px;
$line-height-21: 21px;
$line-height-28: 28px;
$line-height-32: 32px;
$line-height-40: 40px;
$line-height-50: 50px;
$line-height-44: 44px;
$line-height-81: 81px;
$line-height-90: 90px;
$line-height-146: 146.6%;

// Letter Spacing
$letter-spacing-02: -0.02em;
$letter-spacing-2: 0.2em;

// Image Path
$image-path: "/etc.clientlibs/dramix/clientlibs/clientlib-site/resources/images/";

//Responsive view
//small mobile
$screen-xs-min: 320px;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 639px;
// Small tablets and large smartphones (landscape view)
$screen-lm-min: 640px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Tablets and small desktops
$screen-lg-l-min: 1199px;
$screen-lg-la-min: 1150px;
// Tablets and small desktops
$screen-lg-m-min: 1024px;
// Tablets and small desktops
$screen-lg-x-min: 1023px;
// Large tablets and desktops
$screen-xl-min: 1200px;
// Large tablets and desktops
$screen-xl-l-min: 1280px;
$screen-xl-la-min: 1373px;
// Large Screen
$screen-xll-min: 1400px;
$screen-xll-a-min: 1549px;
$screen-xll-b-min: 1550px;
$screen-xll-c-min: 1920px;
$screen-xll-d-min: 1921px;

// Font Style
$font-style-normal: normal;

// Buttons border
$color-dark-blue-II: rgba(4, 42, 75, 0.2);
$color-regal-blue-II: rgba(14, 63, 107, 0.2);
$color-white-II: rgba(255, 255, 255, 0.2);
$color-grey-II: rgba(111, 111, 111, 0.2);

//Header Line
$color-light-white:rgb(255 255 255 / 96%);
$color-light-blue:hsl(208deg 90% 15% / 20%);
$color-light-white-transparent:hsla(0,0%,100%,.1);
