.first
{

    
}
.second
{
   
    height: 300px;
    width: 300px;
    padding: 10px;
    padding-bottom:31px;
    background-color: rgb(247, 131, 22);
    color: white;
    position: absolute;
    left: 692px;
    top: 321px;


}
.header
{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px
    ;
}
.button
{
    text-align: center;
    margin-left: 30px;
    background-color: rgb(247, 131, 22);
    border: 1px bold;
    border-color: rgb(247, 131, 22) ;
    color: white;
    
}
